header {
  .container {
    background-color: $background-black;
    width: 100%;
  }
  .header-top {
    padding: 15px 0px;
    color: $text-colorWhite;
    @include container;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      .box {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .header-bottom {
    @include container;
    @include flex(space-between);
    padding: 25px 0px;
    ul {
      width: 25%;
      @include flex(space-between);
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          font-size: 20px;
          color: $text-colorBlack;
          b {
            background: linear-gradient(
              66.71deg,
              #b63cf0 18.07%,
              #7415d7 84.1%
            );
            padding: 3px 4px 5px;
            font-size: 11px;
            color: white;
            border-radius: 5px;
            text-align: center;
          }
        }
      }
    }
  }
}
