* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.namebtn {
  display: flex;
  align-items: center;
  button {
    margin-left: 40px;
  }
}
.header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}
.button {
  width: 100px;
  height: 40px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.pages {
  padding: 20px;
  border: 2px solid black;
  width: 33.33%;
}
.homepage {
  background-color: rgb(202, 207, 211);
}

.basketpage {
  background-color: rgb(202, 207, 211);

  button {
    height: 40px;
    padding: 10px;
  }
}
.wishlist {
  background-color: rgb(202, 207, 211);
}
.card {
  width: 90%;
  padding: 20px;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 15px;
  img {
    width: 60%;
  }
  a {
    width: 50%;
  }
}
