table {
  border: 2px solid black;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  margin-top: 50px;
}

th {
  border: 1px solid black;
}

td {
  text-align: center;
  border: 1px solid black;
  button {
    color: white;
    background-color: red;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
}
.edit {
  background-color: green;
  color: white;
}
.modal {
  position: fixed;
  width: 34%;
  height: 400px;
  background-color: dodgerblue;
  top: 150px;
  margin: 0 auto;
  z-index: 99999;
}
